runs*/
LJSpeech-1.1/
output*
output_multi*
scripts_joc/
tests/
pretrained_models/
*.pyc
__pycache__

.idea/
.DS_Store

*.swp
*.swo
*.swn

nam_bac_nsut-ha-phuong/
nam_nam_vu-quang-hung/
nu_bac_nsut-hoang-yen/
nu_nam_kenh-co-trinh/
nu_trung_nichi/
